<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калина🌿Wallet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <style>
        .content {
            user-select: text; /* Ensure text can be selected */
        }
    </style>
</head>
<body>
<section class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Калина🌿Wallet. works in Solana Dev net.
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns is-centered">
            <div class="column is-half">
                <div class="box">
                    <strong>Wallet Address:</strong>
                    <span class="content is-family-monospace">
                        {{ wallet.address }}
                    </span>
                </div>
                <div class="box">
                    <strong>Balance: </strong>
                    <span style="font-size: 1.5rem;">{{ wallet.balance }} SOL</span>
                </div>
                <div><a href="https://faucet.solana.com/" target="_blank">get devnet Solana coins</a></div>
            </div>
        </div>
    </div>
</section>
<section class="section services">

    <a href="/logout">logout from wallet</a>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a href="https://vetsinen.notion.site/wallet-c0ab38063002422c8794e0a8592fdde0?pvs=74"><strong>Калина🌿Wallet</strong></a> by Hub 2%.
        </p>
    </div>
</footer>
</body>
</html>
